# Ignore everything by default
/*

# Allow listed files/directories
!.gitignore
!LICENSE
!README.md
!build_exe.py
!main.py
!requirements.txt
!/docs/
!/docs/**
!/src/
!/src/**

# Still ignore build artefacts within allowed directories
__pycache__/
*.pyc
